[Desktop Entry]
Type=Application
Exec=/home/mike/Development/scripts/set_t440p_backlight.sh 2800
Hidden=false
Name=Default backlight
Comment=Sets backlight to reasonable level
X-GNOME-Autostart-enabled=true
